@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
  font-family: "Helvetica Neue",
    'Noto Sans Japanese',
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
h1, h2 {
  font-weight: 700;
}
.share-buttons li a {
}
blockquote {
  font-style: italic;
}
